<!DOCTYPE html>
<html>

<head>
  <title>Colman Jewlery</title>
  
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>

  </style>
</head>

<body>
  <header>
        <div class="pink-bar">
          <p class="free-shipping">Free Shipping on Orders Over $500</p>
        </div>
        
        <div class="banner">
          <div class="navbar">
            
            <ul>
              <li><img src="/img/updatelogo.png" class="logo"></li>
                      <li> <form class="d-flex" role="search" action="/searchResult" method="GET">
                           <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                      </li>
              <li><a href="/">Home</a></li>
              <li><a href="/fruits">Necklaces</a></li>
              <li><a href="/vegetables">Rings</a></li>
              <li><a href="/others">Bracelets</a></li>
              <li><a href="/earrings">Earrings</a></li>
              <li><a href="/orders"><i class="fas fa-shopping-cart"></i></a></li>
              
            </ul>
            
          </div>
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo-container">
       
      </div>
      <div class="content">
         <h1>Colman Jewlery</h1>
         <p>We are here to make you happy in finding the jewel of your dreams<br>since 2021</p>
      <div>
    </div>
    </div>

  </header>

  

    <% if (username) { %>
      <div class="welcome-message">
        <span class="welcomeMessageText">Hi, <%= username %></span>
      </div>
      <a class="navbar-brand" id="logoutBtn" href="/logout" class="navButtons">Logout</a>
      <% } %>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="content">
          <h1>Colman Jewlery</h1>
          <p>We are here to make you happy in finding the jewel of your dreams<br>since 2021</p>
          <div>
            <a href="/userprofile"><button type="button"><span></span>Sign In</button></a>
            <a href="/signup"><button type="button"><span></span>Sign Up</button></a>
            <div>
              <a href="/contact"><button class=" new" type="button"><span></span>Contact Us</button></a>
            </div>
          </div>
        </div>


  

  

  <div class="navigation">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <% if (!username) { %>
        
        <% } %>
        <a class="navbar-brand" href="/transaction_history" class="navButtons">Transactions History</a>
        
        <% if (username) { %>
        <a class="navbar-brand" id="logoutBtn" href="/logout" class="navButtons">Logout</a>
        <% } %>
      </ul>

      </div>
  </div>
  </nav>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="../index.js"></script>

</body>

</html>
