<!DOCTYPE html>
<html>
  <head>
    <title>Store Locations Map</title>
    <link rel="stylesheet" type="text/css" href="/styles/store-map.css">
    <style>
      #map {
        margin-top: 5%;
        height: 400px;
        width: 100%;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>
    <!-- <script>
      function initMap() {
        // Initialize the map and set the initial position
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 37.7749, lng: -122.4194}, // Set the initial center of the map
          zoom: 12 // Set the initial zoom level
        });

        // Add markers for store locations on the map
        var marker1 = new google.maps.Marker({
          position: {lat: 37.7749, lng: -122.4194}, // Set the position of the marker
          map: map, // Set the map to add the marker to
          title: 'Store 1' // Set a title for the marker
        });

      }
    </script> -->
  </head>
  <body>
    <% if (username) { %>
      <div class="welcome-message">
          <span class="welcomeMessageText">Now connected: <%= username %></span>
      </div>
    <% } %>
    <header>
      <a href="/" class="back-to-home-btn">
        <img src="/assets/back-to-home.jpeg" alt="Back to Home" width="50" height="50">
      </a>
    </header>
    <div class="opening-hours">
      <h2>Opening hours:</h2>
      <p>Sunday-Thursday 8:00-20:00 <br> Friday 8:00-15:00</p>
    </div>
    <div class="logo2-container">
      <img src="/img/updatelogo.png" alt="Shuki's Yarkania Logo" class="logo-img">
    </div>
    <div id="map"></div>
    <div class="map-container">
      <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3384.6721511519495!2d34.773588361155866!3d31.969789824911057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502b30236ef5d51%3A0x6c10ba446a77cd0c!2z15TXnteb15zXnNeUINec157XoNeU15wg16jXkNep15XXnyDXnNem15nXldef!5e0!3m2!1siw!2sil!4v1687871086094!5m2!1siw!2sil"
          width="150%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
  </body>
</html>
