/* Global Styles */

body {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../image/backimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

h2,
p {
  margin: 0;
}

/* Header Styles */

header {
  background-color: #ffffff;
  padding: 10px;
  margin-top: -4.5%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-container {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: -5%;
  margin-top: -5%;
}

.cart-text {
  display: block;
  text-align: center;
  font-size: 30px;
  color: #333;
  margin-top: 5px;
}

.cart-btn img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo-container img {
  width: 250px;
  height: auto;
  margin-right: -80px;
}

/* Main Content Styles */

main {
  margin-top: -150px; /* Adjust margin-top as desired */
}

section {
  padding: 20px;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #333;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.card-img-top {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

/* Navigation Styles */

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 9999;
}

nav {
  background-color: #333;
  padding: 20px;
  color: #fff;
  height: 60px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-bottom: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

/* Additional Styles */

.logo2-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: -5%;
}

.logo2-container img {
  width: 350px;
  height: auto;
}

.navButtons {
  cursor: pointer;
  position: relative;
}

.submenu {
  position: absolute;
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #333;
  top: 100%;
  left: 0;
}

.navButtons:hover .submenu {
  display: block;
}

.submenu li {
  display: none;
}

.navButtons:hover .submenu li {
  display: block;
}

.submenu li a {
  color: #fff;
  padding: 5px;
  display: block;
}
.welcome-message {
  margin-top: -150px;
  margin-left: -450px;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.4em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(gold, gold);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  transition: background-size .7s, background-position .5s ease-in-out;
}

.welcome-message:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
}
#match-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

#match-message.show-message {
  display: block;
  animation: pop-up 1s ease-in-out;
}

.video-container {
  position: static;
  margin-left: 27%;
  width: 100%;
  height: 100%;
  z-index: -1;
  margin-top: 2%;
}

video {
  width: 100%;
  height: auto;
}

        .banner {
          position: relative;
          background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../image/backimage.jpg);
          background-size: cover;
          background-position: center;
          width: 100vw;
          height: 100vh;
          position: fixed;
          top: 0;
          left: 0;
          overflow: hidden;
        }
    
        .navbar {
          width: 85%;
          margin: auto;
          padding: 35px 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
 
    
        .logo {
          width: 160px;
          cursor: pointer;
        }
    
        .navbar ul li {
          list-style: none;
          display: inline-block;
          margin: 0 20px;
          position: relative;
        }
    
        .navbar ul li a {
          text-decoration: none;
          color: #fff;
          text-transform: uppercase;
        }
    
        .navbar ul li::after {
          content: '';
          height: 3px;
          width: 0%;
          background: #e85d9e;
          position: absolute;
          left: 0;
          bottom: -10px;
          transition: 0.5s;
        }
    
        .navbar ul li:hover::after {
          width: 100%;
        }
    
        .content {
          width: 100%;
          margin: 70px auto 0;
          text-align: center;
          color: #fff;
        }
    
        .content h1 {
          font-size: 70px;
          margin-top: 40px;
          margin-bottom: 10px;
        }
    
        .content p {
          margin: 10px auto;
          margin-top: 10px;
          font-weight: 100;
          line-height: 25px;
        }
    
        button {
          width: 200px;
          padding: 15px 0;
          text-align: center;
          margin: 20px 10px;
          border-radius: 25px;
          font-weight: bold;
          border: 2px solid #e85d9e;
          background: transparent;
          color: #fff;
          cursor: pointer;
          position: relative;
          overflow: hidden;
        }
    
        span {
          background: #e85d9e;
          height: 100%;
          width: 0;
          border-radius: 25px;
          position: absolute;
          left: 0;
          bottom: 0;
          z-index: -1;
          transition: 0.5s;
        }
    
        button:hover span {
          width: 100%;
        }
    
        button:hover {
          border: none;
          color: #e85d9e;
        }
    
        .pink-bar {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          background-color: #e85d9e;
          padding: 5px 0;
          text-align: center;
          font-size: 12px;
          z-index: 9999;
          opacity: 0.9;
        }
    
        .free-shipping {
          margin: 0;
        }
    
        .fa-shopping-cart {
          font-size: 24px;
          color: #e85d9e;
        }
    
        .fa-shopping-cart:before {
          content: "\f07a";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          font-style: normal;
        }
    
        button.new {
          margin-top: -10px;
        }

                .form-control {
                  max-width: 120px;
                  height:25 px;
                }

         .btn {
        max-width: 80px;
        background-color: transparent;
        color: white;
        border-color: #e85d9e;
        border-width: 2px;
                                }

                                .cotent{
                                  height: 100vh;
                                }
                                                                .welcomeMessageText {
                                                                  color: #f0e9e9;
                                                                  font-family: "Times New Roman",
                                                                    Times,
                                                                    serif;
                                                                }
                                                            
