body {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../image/backimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
}

.back-to-home-btn img {
  width: 110px;
  height: 70px;
}

.container {
  display: flex;
  align-items: center;
}

.logo-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: -5%;
}

.logo-container img {
  width: 250px;
  height: auto;
}

.title {
  font-size: 24px;
  text-align: center;
}

main {
  padding: 50px;
}

.text-center {
  text-align: center;
  margin-bottom: 50px;
  margin-top: -5%;
}

.text-center h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}



#cart-items-body th,
#cart-items-body td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#cart-items-body th {
  font-weight: bold;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.empty-cart-message {
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
}

.checkout-button {
  position: fixed;
  bottom: 450px;
  right: 958px;
  --green:#e85d9e;
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.checkout-button:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.checkout-button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
}

.checkout-button:hover:before {
  transform: translateX(4em);
}

.dismiss {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #aaa;
}

.card-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.card-container2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.hidden {
  display: none;
}

.card {
  overflow: hidden;
  position: relative;
  text-align: left;
  border-radius: 0.5rem;
  max-width: 290px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #fff;
}

.card2 {
  overflow: hidden;
  position: relative;
  text-align: left;
  border-radius: 0.2rem;
  max-width: 390px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #fff;
}

.dismiss {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: black;
  border: 2px solid #D1D5DB;
  font-size: 1rem;
  font-weight: 300;
  width: 30px;
  height: 30px;
  border-radius: 7px;
  transition: .3s ease;
}

.dismiss:hover {
  background-color: #ee0d0d;
  border: 2px solid #ee0d0d;
  color: #fff;
}

.dismiss2 {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: black;
  border: 2px solid #D1D5DB;
  font-size: 1rem;
  font-weight: 300;
  width: 30px;
  height: 30px;
  border-radius: 7px;
  transition: .3s ease;
}

.dismiss2:hover {
  background-color: #ee0d0d;
  border: 2px solid #ee0d0d;
  color: #fff;
}

.header {
  padding: 1.25rem 1rem 1rem 1rem;
}

.image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #e2feee;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  animation: animate .6s linear alternate-reverse infinite;
  transition: .6s ease;
}

.image svg {
  color: #0afa2a;
  width: 2rem;
  height: 2rem;
}

.content {
  margin-top: 0.75rem;
  text-align: center;
}

.title {
  color: #066e29;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.message {
  margin-top: 0.5rem;
  color: #595b5f;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.actions {
  margin: 0.75rem 1rem;
}

.history {
  display: inline-flex;
  padding: 0.5rem 1rem;
  background-color: #1aa06d;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.pay-button {
  display: inline-flex;
  padding: 0.5rem 1rem;
  background-color: #1aa06d;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 30%;
  border-radius: 0.375rem;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.track {
  display: inline-flex;
  margin-top: 0.75rem;
  padding: 0.5rem 1rem;
  color: #242525;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #D1D5DB;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

@keyframes animate {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.09);
  }
}

.table-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}

h2 small {
  font-size: 0.5em;
}

.responsive-table {
  list-style-type: none;
  padding: 0;
}

.responsive-table .table-header {
  background-color: #515c53c5;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.table-header {
  background-color: #33c069;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.col-5 {
  flex-basis: 10%;
}

.col-2 {
  flex-basis: 35%;
}

.col-3 {
  flex-basis: 25%;
}

.col-4 {
  flex-basis: 25%;
}

.col-total {
  flex-basis: 28%;
}

@media all and (max-width: 767px) {
  .table-header {
    display: none;
  }

  .responsive-table li {
    display: block;
  }

  .col {
    display: flex;
    padding: 10px 0;
  }

  .col:before {
    color: #6C7A89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}

.welcome-message {
  margin-top: -250px;
  margin-left: -350px;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.4em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 /* background-image: linear-gradient(gold, gold);*/
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  transition: background-size .7s, background-position .5s ease-in-out;
}

.welcome-message:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
}

.form-container {
  width: 350px;
  background-color: #fff;
  padding: 32px 24px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #212121;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  margin-top: 0%;
  margin-left: 35%;
}

.form-title {
  margin-top: -5px;
  display: flex;
  justify-content: center;
}

.form-container button:active {
  transform: scale(0.95);
}

.form-container .logo-container {
  margin-bottom: 12px;
  margin-top: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.form-container .social-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.form-container .social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: Arial, sans-serif;
  color: #fff;
  border: none;
  padding: 12px 16px;
  gap: 8px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container .social-button svg {
  width: 22px;
  height: 22px;
  fill: white;
}

.form-container .social-button.facebook {
  background-color: #1778f2;
}

.form-container .social-button.apple {
  background-color: #000;
}

.form-container .line {
  height: 1px;
  background-color: #e0e0e0;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
}

.form-container .form-group label {
  margin-bottom: 7px;
  margin-top: 7px;
}

.form-container .form-group input {
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-family: Arial, sans-serif;
}

.form-container .form-submit-btn {
  margin-top: 10px;
  background-color: #1778f2;
  color: #fff;
  border: none;
  padding: 12px 16px;
  border-radius: 6px;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

.form-container .form-submit-btn:hover {
  background-color: #1366d1;
}

.form-container .forgot-password-link,
.form-container .signup-link {
  text-align: center;
  font-size: 12px;
  color: #757575;
}

.form-container .link {
  color: #1778f2;
  text-decoration: none;
}

.form-container .link:hover {
  text-decoration: underline;
}

/* Payment form details */
.form-container2 {
  width: 350px;
  background-color: #fff;
  padding: 32px 24px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #212121;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  margin-top: 0%;
  margin-left: 0%;
}

.form-title {
  margin-top: -5px;
  display: flex;
  justify-content: center;
}

.form-container2 button:active {
  transform: scale(0.95);
}

.form-container2 .logo-container {
  margin-bottom: 12px;
  margin-top: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.form-container2 .social-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.form-container2 .social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: Arial, sans-serif;
  color: #fff;
  border: none;
  padding: 12px 16px;
  gap: 8px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container2 .social-button svg {
  width: 22px;
  height: 22px;
  fill: white;
}

.form-container2 .social-button.facebook {
  background-color: #1778f2;
}

.form-container2 .social-button.apple {
  background-color: #000;
}

.form-container2 .line {
  height: 1px;
  background-color: #e0e0e0;
}

.form-container2 .form-group {
  display: flex;
  flex-direction: column;
}

.form-container2 .form-group label {
  margin-bottom: 7px;
  margin-top: 7px;
}

.form-container2 .form-group input {
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-family: Arial, sans-serif;
}

.form-container2 .form-submit-btn {
  margin-top: 10px;
  background-color: #1778f2;
  color: #fff;
  border: none;
  padding: 12px 16px;
  border-radius: 6px;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

.form-container2 .form-submit-btn:hover {
  background-color: #1366d1;
}

.form-container2 .forgot-password-link,
.form-container2 .signup-link {
  text-align: center;
  font-size: 12px;
  color: #757575;
}

.form-container2 .link {
  color: #1778f2;
  text-decoration: none;
}

.form-container2 .link:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  margin-top: 5px;
  font-size: 12px;
}
.seaBody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background: #3f81b3 url(https://source.unsplash.com/DSwBHyWKiVw/1280x720) no-repeat center;
  background-size: cover;
  overflow: hidden;
  margin: 0;
  padding: 50;
}

#no-items-message {
  position: relative;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: calc(10px + 10vw);
  font-weight: 700;
  color: #f5f5f5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  perspective: 500px;
}

#no-items-message::before,
#no-items-message::after {
  content: attr(aria-label);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0.01em 0.01em 0.01em rgba(0, 0, 0, 0.3);
  font-size: 45%;
}

#no-items-message::before {
  animation: floatAbove 3.5s ease-in-out infinite;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
}

#no-items-message::after {
  opacity: 0.65;
  filter: blur(0.02em);
  transform: translate(-50%, -50%) rotateX(21deg);
  animation: floatBelow 3.5s ease-in-out infinite;
  -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
}

@keyframes floatAbove {
  50% {
    transform: translate(-50%, -60%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 60%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 60%);
  }
}

@keyframes floatBelow {
  50% {
    transform: translate(-50%, -60%) rotateX(10deg);
    -webkit-clip-path: polygon(0% 60%, 100% 60%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 100% 60%, 100% 100%, 0% 100%);
  }
}
button.delete {
  width: 120px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #e62222;
  position: relative;
  overflow: hidden;
}

button.delete span.text {
  transform: translateX(25px);
  color: white;
  font-weight: bold;
  transition: 200ms;
}

button.delete span.icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(80px);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;
}

button.delete svg {
  width: 12px;
  fill: #eee;
}

button.delete:hover {
  background: #ff3636;
}

button.delete:hover span.text {
  color: transparent;
}

button.delete:hover span.icon {
  width: 120px;
  border-left: none;
  transform: translateX(0);
}

button.delete:focus {
  outline: none;
}

button.delete:active span.icon svg {
  transform: scale(0.8);
}

 .welcomeMessageText {
   color: #f0e9e9;
   font-family: "Times New Roman",
     Times,
     serif;
 }

         .checkout-button {
           position: fixed;
           bottom: 20px;
           right: 20px;
           z-index: 9999;
         }
