body {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../image/backimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
  }
  
  .back-to-home-btn img {
    width: 110px;
    height: 70px;
  }
  
  .logo2-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: -5%;
  }
  
  .logo2-container img {
    width: 250px;
    height: auto;
  }
  
  .opening-hours {
    text-align: center;
    padding: 10px;
    margin-top: -4%;
  }
  
  #map {
    margin-top: 5%;
    height: 350px;
    width: 100%;
  }
  .map-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: -30%;
    margin-left: 0%;
}
.welcome-message {
  margin-top: -250px;
  margin-left: -350px;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.4em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: linear-gradient(gold, gold);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
   transition: background-size .7s, background-position .5s ease-in-out;
}

.welcome-message:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
}

