body {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../image/backimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
  }
  
  .back-to-home-btn img {
    width: 110px;
    height: 70px;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .form-title {
    margin-top: -5px;
    display: flex;
    justify-content: center;
  }
  .form-container {
    width: 25%;
    background-color:transparent;
    padding: 15px 24px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    
    box-sizing: border-box;
    border-radius: 10px;
    align-items:center ;
    margin-top: -15%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.15));
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
      border-radius: 20px;
      border: 1px solid rgba(255, 255, 255, 0.05);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
      margin-top: 10%;

      max-width: 400px;
  }
  
  .form-container button:active {
    transform: scale(0.95);
  }
  
  .form-container .logo-container {
    margin-bottom: 12px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
  }
  
  .form-container .social-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: -25px;
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }
  
  .form-container .social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Arial, sans-serif;
    color: #fff;
    border: none;
    padding: 12px 16px;
    gap: 8px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  }
  
  .form-container .social-button svg {
    width: 22px;
    height: 22px;
    fill: white;
  }
  
  .form-container .social-button.facebook {
    background-color: #1778f2;
    width: 300%;
    box-sizing: border-box;
  }
  
  .form-container .social-button.apple {
    background-color: #000;
    width: 300%;
      box-sizing: border-box;
  }
  
  .form-container .line {
    height: 1px;
    background-color: #e0e0e0;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-container .form-group label {
    margin-bottom: 7px;
    margin-top: 7px;
  }
  
  .form-container .form-group input {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    font-family: Arial, sans-serif;
  }
  
  .form-container .form-submit-btn {
    margin-top: 10px; 
    background-color: #1778f2;
    color: #fff;
    border: none;
    padding: 12px 16px;
    border-radius: 6px;
    font-family: Arial, sans-serif;
    cursor: pointer;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #1366d1;
  }
  
  .form-container .forgot-password-link,
  .form-container .signup-link {
    text-align: center;
    font-size: 12px;
    color: #757575;
  }
  
  .form-container .link {
    color: #1778f2;
    text-decoration: none;
  }
  
  .form-container .link:hover {
    text-decoration: underline;
  }
  
  .logo2-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: -5%;
  }
  
  .logo2-container img {
    width: 350px;
    height: auto;
  }
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

  .welcome-message {
    margin-top: -250px;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.4em;
    position: absolute;
    top: 50%;
    left: 50%;
    
    
    background-size: 100% 10px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
     
  }
  
  .welcome-message:hover {
    background-size: 100% 100%;
    background-position: 0% 100%;
    transition: background-position .7s, background-size .5s ease-in-out;
  }

    .banner {
      position: relative;
      /*background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../image/backimage.jpg);*/
      background-size: cover;
      background-position: center;
      width: 100vw;
      height: 40vh;
      position: fixed;
      top: 0;
      left: 0;
      overflow: hidden;
    }
  
  
    .navbar {
      width: 85%;
      margin: auto;
      padding: 35px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .logo {
      width: 160px;
      cursor: pointer;
    }
  
    .navbar ul li {
      list-style: none;
      display: inline-block;
      margin: 0 20px;
      position: relative;
    }
  
    .navbar ul li a {
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
    }
  
    .navbar ul li::after {
      content: '';
      height: 3px;
      width: 0%;
      background: #e85d9e;
      position: absolute;
      left: 0;
      bottom: -10px;
      transition: 0.5s;
    }
  
    .navbar ul li:hover::after {
      width: 100%;
    }
  
    .content {
      width: 100%;
      margin: 70px auto 0;
      text-align: center;
      color: #fff;
    }
  
    .content h1 {
      font-size: 70px;
      margin-top: 40px;
      margin-bottom: 10px;
    }
  
    .content p {
      margin: 10px auto;
      margin-top: 10px;
      font-weight: 100;
      line-height: 25px;
    }
  
    button {
      width: 200px;
      padding: 15px 0;
      text-align: center;
      margin: 20px 10px;
      border-radius: 25px;
      font-weight: bold;
      border: 2px solid #e85d9e;
      background: transparent;
      color: #fff;
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }
  
    span {
      background: #e85d9e;
      height: 100%;
      width: 0;
      border-radius: 25px;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
      transition: 0.5s;
    }
  
    button:hover span {
      width: 100%;
    }
  
    button:hover {
      border: none;
      color: #e85d9e;
    }
  
    .pink-bar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #e85d9e;
      padding: 5px 0;
      text-align: center;
      font-size: 12px;
      z-index: 9999;
      opacity: 0.9;
    }
  
    .free-shipping {
      margin: 0;
    }
  
    .fa-shopping-cart {
      font-size: 24px;
      color: #e85d9e;
    }
  
    .fa-shopping-cart:before {
      content: "\f07a";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-style: normal;
    }
  
    button.new {
      margin-top: -10px;
    }

                                        .form-control {
                                          max-width: 120px;
                                          height: 25 px;
                                        }
                    
                                        .btn {
                                          max-width: 80px;
                                          background-color: transparent;
                                          color: white;
                                          border-color: #e85d9e;
                                          border-width: 2px;
                                        }